@model IEnumerable<ProbaW.Models.Soba>
@{
    ViewData["Title"] = "Admin";
}
<head>
    <link rel="stylesheet" type="text/css" href="~/css/style.css">
    <link rel="stylesheet" type="text/css" href="~/css/soba.css">
</head>
<h2>Admin</h2>
<div class="login">
    <a href="/Home/About">Vidi Sve Sobe</a>
    <a href="/Home/Zauzece">Prikazi Sve Zauzete Sobe</a>
    <a href="/Home/DodajZauzece">Dodaj Novog Gosta U Sobu</a>
    <a href="/Home/SviGosti">Prikzi Sve Goste</a>
   
</div>