
@{
    ViewData["Title"] = "Brisanje";
}
<head>
    <link rel="stylesheet" type="text/css" href="~/css/style.css">
    <link rel="stylesheet" type="text/css" href="~/css/soba.css">
</head>
<h2>Brisanje</h2>

<div class="forma">
    <forma action="Brisanje" method="post">
        <label for="idZauzece">Id Zauzeca</label>
        <input type="number" id="id name="Id" placeholder="">

        <input type="submit" value="Brisanje">
    </forma>
</div>