
@{
    ViewData["Title"] = "Izmena";
}
    <head>
        <link rel="stylesheet" type="text/css" href="~/css/style.css">
        <link rel="stylesheet" type="text/css" href="~/css/soba.css">
    </head>
<h2>Izmena</h2>
<div class="forma">
    <forma action="Izmena" method="post">
        <label for="id">Id Zauzeca</label>
        <input type="number" id="idZauzece" name="Id" placeholder="">

        <label for="gostidentifikacija">Id Gost</label>
        <input type="number" id="gost" name="IdGost" placeholder="">

        <label for="sobaidentifikacija">Id Sobe/BrojSobe</label>
        <input type="text" id="soba" name="IdSoba" placeholder="">

        <label for="od">Datum Od</label>
        <input type="text" id="datumOD" name="DatumOd" placeholder="">
        <label for="do">Datum Do</label>
        <input type="text" id="datumDO" name="DatumDo" placeholder="">
        <input type="submit" value="Izmeni">
    </forma>
    </div>